<footer class="footer">
  <div>
    <small>
      <i class="fa-regular fa-copyright"> 2023 Pontic Professionals</i>
    </small>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Find Us", '#' %></li>
    </ul>
  </nav>
</footer>
